body {
    background: #ecf3f3;
  }
  
  .particle {
    position: absolute;
    border-radius: 50%;
  }
  
  @-webkit-keyframes particle-animation-1 {
    100% {
      transform: translate3d(51vw, 19vh, 98px);
    }
  }
  
  @keyframes particle-animation-1 {
    100% {
      transform: translate3d(51vw, 19vh, 98px);
    }
  }
  .particle:nth-child(1) {
    -webkit-animation: particle-animation-1 60s infinite;
            animation: particle-animation-1 60s infinite;
    opacity: 0.66;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s;
    transform: translate3d(29vw, 74vh, 36px);
    background: #26acd9;
  }
  
  @-webkit-keyframes particle-animation-2 {
    100% {
      transform: translate3d(46vw, 74vh, 32px);
    }
  }
  
  @keyframes particle-animation-2 {
    100% {
      transform: translate3d(46vw, 74vh, 32px);
    }
  }
  .particle:nth-child(2) {
    -webkit-animation: particle-animation-2 60s infinite;
            animation: particle-animation-2 60s infinite;
    opacity: 0.44;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s;
    transform: translate3d(33vw, 46vh, 63px);
    background: #26d968;
  }
  
  @-webkit-keyframes particle-animation-3 {
    100% {
      transform: translate3d(19vw, 13vh, 59px);
    }
  }
  
  @keyframes particle-animation-3 {
    100% {
      transform: translate3d(19vw, 13vh, 59px);
    }
  }
  .particle:nth-child(3) {
    -webkit-animation: particle-animation-3 60s infinite;
            animation: particle-animation-3 60s infinite;
    opacity: 0.15;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s;
    transform: translate3d(24vw, 40vh, 53px);
    background: #2662d9;
  }
  
  @-webkit-keyframes particle-animation-4 {
    100% {
      transform: translate3d(48vw, 40vh, 4px);
    }
  }
  
  @keyframes particle-animation-4 {
    100% {
      transform: translate3d(48vw, 40vh, 4px);
    }
  }
  .particle:nth-child(4) {
    -webkit-animation: particle-animation-4 60s infinite;
            animation: particle-animation-4 60s infinite;
    opacity: 0.15;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s;
    transform: translate3d(37vw, 70vh, 28px);
    background: #26b5d9;
  }
  
  @-webkit-keyframes particle-animation-5 {
    100% {
      transform: translate3d(23vw, 48vh, 49px);
    }
  }
  
  @keyframes particle-animation-5 {
    100% {
      transform: translate3d(23vw, 48vh, 49px);
    }
  }
  .particle:nth-child(5) {
    -webkit-animation: particle-animation-5 60s infinite;
            animation: particle-animation-5 60s infinite;
    opacity: 0.82;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1s;
            animation-delay: -1s;
    transform: translate3d(25vw, 42vh, 24px);
    background: #26d92f;
  }
  
  @-webkit-keyframes particle-animation-6 {
    100% {
      transform: translate3d(27vw, 27vh, 90px);
    }
  }
  
  @keyframes particle-animation-6 {
    100% {
      transform: translate3d(27vw, 27vh, 90px);
    }
  }
  .particle:nth-child(6) {
    -webkit-animation: particle-animation-6 60s infinite;
            animation: particle-animation-6 60s infinite;
    opacity: 0.96;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s;
    transform: translate3d(43vw, 39vh, 82px);
    background: #a6d926;
  }
  
  @-webkit-keyframes particle-animation-7 {
    100% {
      transform: translate3d(82vw, 56vh, 90px);
    }
  }
  
  @keyframes particle-animation-7 {
    100% {
      transform: translate3d(82vw, 56vh, 90px);
    }
  }
  .particle:nth-child(7) {
    -webkit-animation: particle-animation-7 60s infinite;
            animation: particle-animation-7 60s infinite;
    opacity: 0.16;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -1.4s;
            animation-delay: -1.4s;
    transform: translate3d(24vw, 57vh, 7px);
    background: #2c26d9;
  }
  
  @-webkit-keyframes particle-animation-8 {
    100% {
      transform: translate3d(46vw, 45vh, 28px);
    }
  }
  
  @keyframes particle-animation-8 {
    100% {
      transform: translate3d(46vw, 45vh, 28px);
    }
  }
  .particle:nth-child(8) {
    -webkit-animation: particle-animation-8 60s infinite;
            animation: particle-animation-8 60s infinite;
    opacity: 0.4;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -1.6s;
            animation-delay: -1.6s;
    transform: translate3d(41vw, 6vh, 13px);
    background: #d926d9;
  }
  
  @-webkit-keyframes particle-animation-9 {
    100% {
      transform: translate3d(47vw, 81vh, 71px);
    }
  }
  
  @keyframes particle-animation-9 {
    100% {
      transform: translate3d(47vw, 81vh, 71px);
    }
  }
  .particle:nth-child(9) {
    -webkit-animation: particle-animation-9 60s infinite;
            animation: particle-animation-9 60s infinite;
    opacity: 0.3;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -1.8s;
            animation-delay: -1.8s;
    transform: translate3d(72vw, 32vh, 58px);
    background: #85d926;
  }
  
  @-webkit-keyframes particle-animation-10 {
    100% {
      transform: translate3d(65vw, 29vh, 94px);
    }
  }
  
  @keyframes particle-animation-10 {
    100% {
      transform: translate3d(65vw, 29vh, 94px);
    }
  }
  .particle:nth-child(10) {
    -webkit-animation: particle-animation-10 60s infinite;
            animation: particle-animation-10 60s infinite;
    opacity: 0.17;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2s;
            animation-delay: -2s;
    transform: translate3d(47vw, 35vh, 10px);
    background: #6826d9;
  }
  
  @-webkit-keyframes particle-animation-11 {
    100% {
      transform: translate3d(7vw, 10vh, 13px);
    }
  }
  
  @keyframes particle-animation-11 {
    100% {
      transform: translate3d(7vw, 10vh, 13px);
    }
  }
  .particle:nth-child(11) {
    -webkit-animation: particle-animation-11 60s infinite;
            animation: particle-animation-11 60s infinite;
    opacity: 0.65;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -2.2s;
            animation-delay: -2.2s;
    transform: translate3d(63vw, 17vh, 4px);
    background: #c7d926;
  }
  
  @-webkit-keyframes particle-animation-12 {
    100% {
      transform: translate3d(46vw, 32vh, 13px);
    }
  }
  
  @keyframes particle-animation-12 {
    100% {
      transform: translate3d(46vw, 32vh, 13px);
    }
  }
  .particle:nth-child(12) {
    -webkit-animation: particle-animation-12 60s infinite;
            animation: particle-animation-12 60s infinite;
    opacity: 0.34;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -2.4s;
            animation-delay: -2.4s;
    transform: translate3d(27vw, 12vh, 32px);
    background: #d926d3;
  }
  
  @-webkit-keyframes particle-animation-13 {
    100% {
      transform: translate3d(58vw, 70vh, 43px);
    }
  }
  
  @keyframes particle-animation-13 {
    100% {
      transform: translate3d(58vw, 70vh, 43px);
    }
  }
  .particle:nth-child(13) {
    -webkit-animation: particle-animation-13 60s infinite;
            animation: particle-animation-13 60s infinite;
    opacity: 0.75;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -2.6s;
            animation-delay: -2.6s;
    transform: translate3d(75vw, 87vh, 16px);
    background: #ca26d9;
  }
  
  @-webkit-keyframes particle-animation-14 {
    100% {
      transform: translate3d(83vw, 13vh, 66px);
    }
  }
  
  @keyframes particle-animation-14 {
    100% {
      transform: translate3d(83vw, 13vh, 66px);
    }
  }
  .particle:nth-child(14) {
    -webkit-animation: particle-animation-14 60s infinite;
            animation: particle-animation-14 60s infinite;
    opacity: 0.39;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -2.8s;
            animation-delay: -2.8s;
    transform: translate3d(69vw, 52vh, 93px);
    background: #7726d9;
  }
  
  @-webkit-keyframes particle-animation-15 {
    100% {
      transform: translate3d(5vw, 8vh, 85px);
    }
  }
  
  @keyframes particle-animation-15 {
    100% {
      transform: translate3d(5vw, 8vh, 85px);
    }
  }
  .particle:nth-child(15) {
    -webkit-animation: particle-animation-15 60s infinite;
            animation: particle-animation-15 60s infinite;
    opacity: 0.98;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -3s;
            animation-delay: -3s;
    transform: translate3d(56vw, 24vh, 87px);
    background: #be26d9;
  }
  
  @-webkit-keyframes particle-animation-16 {
    100% {
      transform: translate3d(76vw, 55vh, 23px);
    }
  }
  
  @keyframes particle-animation-16 {
    100% {
      transform: translate3d(76vw, 55vh, 23px);
    }
  }
  .particle:nth-child(16) {
    -webkit-animation: particle-animation-16 60s infinite;
            animation: particle-animation-16 60s infinite;
    opacity: 0.38;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.2s;
            animation-delay: -3.2s;
    transform: translate3d(31vw, 28vh, 7px);
    background: #6226d9;
  }
  
  @-webkit-keyframes particle-animation-17 {
    100% {
      transform: translate3d(75vw, 18vh, 7px);
    }
  }
  
  @keyframes particle-animation-17 {
    100% {
      transform: translate3d(75vw, 18vh, 7px);
    }
  }
  .particle:nth-child(17) {
    -webkit-animation: particle-animation-17 60s infinite;
            animation: particle-animation-17 60s infinite;
    opacity: 0.42;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.4s;
            animation-delay: -3.4s;
    transform: translate3d(90vw, 89vh, 42px);
    background: #265fd9;
  }
  
  @-webkit-keyframes particle-animation-18 {
    100% {
      transform: translate3d(71vw, 43vh, 25px);
    }
  }
  
  @keyframes particle-animation-18 {
    100% {
      transform: translate3d(71vw, 43vh, 25px);
    }
  }
  .particle:nth-child(18) {
    -webkit-animation: particle-animation-18 60s infinite;
            animation: particle-animation-18 60s infinite;
    opacity: 0.59;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -3.6s;
            animation-delay: -3.6s;
    transform: translate3d(29vw, 38vh, 29px);
    background: #6b26d9;
  }
  
  @-webkit-keyframes particle-animation-19 {
    100% {
      transform: translate3d(75vw, 84vh, 10px);
    }
  }
  
  @keyframes particle-animation-19 {
    100% {
      transform: translate3d(75vw, 84vh, 10px);
    }
  }
  .particle:nth-child(19) {
    -webkit-animation: particle-animation-19 60s infinite;
            animation: particle-animation-19 60s infinite;
    opacity: 0.47;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -3.8s;
            animation-delay: -3.8s;
    transform: translate3d(26vw, 53vh, 82px);
    background: #26a0d9;
  }
  
  @-webkit-keyframes particle-animation-20 {
    100% {
      transform: translate3d(8vw, 23vh, 63px);
    }
  }
  
  @keyframes particle-animation-20 {
    100% {
      transform: translate3d(8vw, 23vh, 63px);
    }
  }
  .particle:nth-child(20) {
    -webkit-animation: particle-animation-20 60s infinite;
            animation: particle-animation-20 60s infinite;
    opacity: 0.16;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4s;
            animation-delay: -4s;
    transform: translate3d(26vw, 64vh, 35px);
    background: #5c26d9;
  }
  
  @-webkit-keyframes particle-animation-21 {
    100% {
      transform: translate3d(15vw, 23vh, 64px);
    }
  }
  
  @keyframes particle-animation-21 {
    100% {
      transform: translate3d(15vw, 23vh, 64px);
    }
  }
  .particle:nth-child(21) {
    -webkit-animation: particle-animation-21 60s infinite;
            animation: particle-animation-21 60s infinite;
    opacity: 0.45;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -4.2s;
            animation-delay: -4.2s;
    transform: translate3d(68vw, 24vh, 72px);
    background: #26d95c;
  }
  
  @-webkit-keyframes particle-animation-22 {
    100% {
      transform: translate3d(53vw, 48vh, 97px);
    }
  }
  
  @keyframes particle-animation-22 {
    100% {
      transform: translate3d(53vw, 48vh, 97px);
    }
  }
  .particle:nth-child(22) {
    -webkit-animation: particle-animation-22 60s infinite;
            animation: particle-animation-22 60s infinite;
    opacity: 0.82;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -4.4s;
            animation-delay: -4.4s;
    transform: translate3d(64vw, 87vh, 85px);
    background: #b526d9;
  }
  
  @-webkit-keyframes particle-animation-23 {
    100% {
      transform: translate3d(4vw, 24vh, 57px);
    }
  }
  
  @keyframes particle-animation-23 {
    100% {
      transform: translate3d(4vw, 24vh, 57px);
    }
  }
  .particle:nth-child(23) {
    -webkit-animation: particle-animation-23 60s infinite;
            animation: particle-animation-23 60s infinite;
    opacity: 0.66;
    height: 6px;
    width: 6px;
    -webkit-animation-delay: -4.6s;
            animation-delay: -4.6s;
    transform: translate3d(67vw, 14vh, 96px);
    background: #d94426;
  }
  
  @-webkit-keyframes particle-animation-24 {
    100% {
      transform: translate3d(21vw, 35vh, 5px);
    }
  }
  
  @keyframes particle-animation-24 {
    100% {
      transform: translate3d(21vw, 35vh, 5px);
    }
  }
  .particle:nth-child(24) {
    -webkit-animation: particle-animation-24 60s infinite;
            animation: particle-animation-24 60s infinite;
    opacity: 0.03;
    height: 8px;
    width: 8px;
    -webkit-animation-delay: -4.8s;
            animation-delay: -4.8s;
    transform: translate3d(4vw, 57vh, 31px);
    background: #6e26d9;
  }
  
  @-webkit-keyframes particle-animation-25 {
    100% {
      transform: translate3d(88vw, 2vh, 21px);
    }
  }
  
  @keyframes particle-animation-25 {
    100% {
      transform: translate3d(88vw, 2vh, 21px);
    }
  }
  .particle:nth-child(25) {
    -webkit-animation: particle-animation-25 60s infinite;
            animation: particle-animation-25 60s infinite;
    opacity: 0.51;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -5s;
            animation-delay: -5s;
    transform: translate3d(20vw, 22vh, 81px);
    background: #d96b26;
  }
  
  @-webkit-keyframes particle-animation-26 {
    100% {
      transform: translate3d(56vw, 74vh, 10px);
    }
  }
  
  @keyframes particle-animation-26 {
    100% {
      transform: translate3d(56vw, 74vh, 10px);
    }
  }
  .particle:nth-child(26) {
    -webkit-animation: particle-animation-26 60s infinite;
            animation: particle-animation-26 60s infinite;
    opacity: 0.9;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.2s;
            animation-delay: -5.2s;
    transform: translate3d(18vw, 80vh, 40px);
    background: #26d9c7;
  }
  
  @-webkit-keyframes particle-animation-27 {
    100% {
      transform: translate3d(66vw, 62vh, 73px);
    }
  }
  
  @keyframes particle-animation-27 {
    100% {
      transform: translate3d(66vw, 62vh, 73px);
    }
  }
  .particle:nth-child(27) {
    -webkit-animation: particle-animation-27 60s infinite;
            animation: particle-animation-27 60s infinite;
    opacity: 0.72;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.4s;
            animation-delay: -5.4s;
    transform: translate3d(55vw, 66vh, 8px);
    background: #d926d3;
  }
  
  @-webkit-keyframes particle-animation-28 {
    100% {
      transform: translate3d(64vw, 62vh, 97px);
    }
  }
  
  @keyframes particle-animation-28 {
    100% {
      transform: translate3d(64vw, 62vh, 97px);
    }
  }
  .particle:nth-child(28) {
    -webkit-animation: particle-animation-28 60s infinite;
            animation: particle-animation-28 60s infinite;
    opacity: 0.92;
    height: 7px;
    width: 7px;
    -webkit-animation-delay: -5.6s;
            animation-delay: -5.6s;
    transform: translate3d(5vw, 74vh, 12px);
    background: #26d9ac;
  }
  
  @-webkit-keyframes particle-animation-29 {
    100% {
      transform: translate3d(55vw, 29vh, 2px);
    }
  }
  
  @keyframes particle-animation-29 {
    100% {
      transform: translate3d(55vw, 29vh, 2px);
    }
  }
  .particle:nth-child(29) {
    -webkit-animation: particle-animation-29 60s infinite;
            animation: particle-animation-29 60s infinite;
    opacity: 0.86;
    height: 9px;
    width: 9px;
    -webkit-animation-delay: -5.8s;
            animation-delay: -5.8s;
    transform: translate3d(23vw, 6vh, 62px);
    background: #6526d9;
  }
  
  @-webkit-keyframes particle-animation-30 {
    100% {
      transform: translate3d(16vw, 6vh, 70px);
    }
  }
  
  @keyframes particle-animation-30 {
    100% {
      transform: translate3d(16vw, 6vh, 70px);
    }
  }
  .particle:nth-child(30) {
    -webkit-animation: particle-animation-30 60s infinite;
            animation: particle-animation-30 60s infinite;
    opacity: 0.71;
    height: 10px;
    width: 10px;
    -webkit-animation-delay: -6s;
            animation-delay: -6s;
    transform: translate3d(26vw, 12vh, 7px);
    background: #2c26d9;
  }